/* ELEMENTS */
$html: 62.5%;                // (1.6rem = 16px)

/* PC & MOBILE RESPONSIVENESS - SCREEN SIZE */
$extra-small: 600px;     // < 600px
$small: 960px;               // 600px > < 960px
$medium: 1264px;       // 960px > < 1264px
$large: 1904px;             // 1264px > < 1904px
$extra-large: 1904px;   // > 1904px