/* NAME */
$name_global: all;

/* TIME */
$time_global: 0.3s;
$time_fast: 0.2s;
$time_slow: 0.5s;

/* TYPE */
$type_global: ease-in-out;

/* TRANSITIONS SIMPLIFIED */
$global: $name_global $time_global $type_global;

$bgcolor_global: background-color;
$bgcolor_toggle_switch: $bgcolor_global $time_global $type_global;

$transform_global: transform;
$transform_toggle_slider: $transform_global $time_fast $type_global;
$transform_btn_icons: $transform_global $time_global $type_global;
$transform_btn_nav_dropdown: $transform_global $time_global $type_global;

$border_global: border;
$border_btn: $border_global $time_global $type_global;